[alias]
b = "build"
br = "build --release"
c = "check"
d = "doc"
t = "test"
r = "run"
rr = "run --release"
rm = "remove"

[target.x86_64-pc-windows-msvc]
linker = "rust-lld.exe"
rustflags = [
    "-Zshare-generics=n", # (Nightly) Turn thiss off for Windows builds to avoid LNK4204 warnings.
    "-Zthreads=0",        # (Nightly) Use improved multithreading with the recommended amount of threads.
]

# Negligable dev profile tweaks for faster compile times:
# [profile.dev]
# debug = 1
